* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.TODO__header {
  margin-top: 30px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.TODO__header__h1 {
  padding: 15px;
  font-size: 45px;
}
.TODO__header__section--AddTask {
  padding: 0.5% 0;
  justify-content: space-between;
}
.TODO__header__section--AddTask__input--add {
  padding: 0 10px;
  height: 70%;
  border-radius: 5px;
  border: 2px solid #cccccce4;
}
.TODO__header__section--AddTask__button--Add {
  width: 50px;
  height: 35px;
  border-style: none;
  border-radius: 7px;
  color: white;
  background-color: red;
  cursor: pointer;
}
.TODO__header__input--search {
  padding: 0 10px;
  height: 20%;
  width: 34%;
  border-radius: 5px;
  border: 2px solid #cccccce4;
}

.TODO__main__table--tasks {
  border-collapse: collapse;
  text-align: center;
  width: 95%;
  margin: 30px auto 30px;
  font-size: 18px;
}
.TODO--main--table--tasks--tr {
  height: 55px;
}
.TODO__main__table--tasks td {
  border-bottom: 2px solid #ecececf9;
}
.TODO__main__table--tasks__header {
  background-color: #ecececf9;
}
.TODO__main__table--tasks__tr__button--delete {
  width: 80px;
  padding: 10px;
  font-size: 15px;
  border-style: none;
  border-radius: 5px;
  color: white;
  background-color: red;
  cursor: pointer;
}
.TODO__main__table--tasks__tr__button--done {
  width: 80px;
  padding: 10px;
  font-size: 15px;
  border-style: none;
  border-radius: 5px;
  color: white;
  background-color: green;
  cursor: pointer;
}

.TODO__footer {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

@media (max-width: 992px) {
  .TODO__header__h1 {
    font-size: 43px;
  }
  .TODO__header__input--search {
    width: 40%;
  }
  .TODO__main__table--tasks {
    width: 97%;
    margin: 10px 4px;
    font-size: 15px;
  }
  .TODO__main__table--tasks__tr__button--delete {
    margin: 5px 0;
  }
  .TODO__main__table--tasks__tr__button--done {
    margin-bottom: 5px;
  }
}
@media (max-width: 767px) {
  .TODO__header__h1 {
    font-size: 40px;
  }
  .TODO__header__input--search {
    width: 65%;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .TODO__header__input--search {
    width: 55%;
  }
}
@media (min-width: 450px) and (max-width: 650px) {
  .TODO__header__input--search {
    width: 65%;
  }
}
@media (max-width: 450px) {
  .TODO__header__h1 {
    font-size: 37px;
    padding-bottom: 10px;
  }
  .TODO__header__input--search {
    width: 78%;
  }
  .TODO__main__table--tasks {
    font-size: 13px;
  }
  .TODO__main__table--tasks__tr__button--delete,
  .TODO__main__table--tasks__tr__button--done {
    width: 70px;
    padding: 7px;
  }
}

@media (max-width: 340px) {
  .TODO__header {
    height: 150px;
  }
  .TODO__header__h1 {
    font-size: 34px;
    padding-bottom: 7px;
  }
  .TODO__header__input--search {
    width: 90%;
  }
  .TODO__main__table--tasks__tr__button--delete,
  .TODO__main__table--tasks__tr__button--done {
    width: 55px;
    padding: 3px;
  }
  .TODO__main__table--tasks tr td {
    padding-right: 5px;
  }
}

@media (max-width: 290px) {
  .TODO__header {
    height: 160px;
  }
  .TODO__header__section--AddTask {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .TODO__header__section--AddTask__input--add {
    width: 60%;
    height: 30px;
    margin: 5px;
  }
  .TODO__header__input--search {
    width: 90%;
    margin-bottom: 10px;
    height: 30px;
  }
  .TODO__header__section--AddTask__button--Add {
    width: 20%;
    height: 30px;
    margin: 5px 0px;
  }
}
@media (max-width: 200px) {
  .TODO__header {
    height: auto;
    width: 100%;
  }
  .TODO__header__h1 {
    font-size: 33px;
  }
}
